.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding: 30px 0px;
    background: none;
    @media screen and (max-width: 480px) {
        padding: 24px 0 16px 0;
    }
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; /* Додано */
}

.open {
    display: flex !important;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: clamp(6px, 1vw, 12px);
}

.header-logo {
    margin-right: 74px;
}

.header-link {
    padding: 10px;
    color: #FFF;

    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    transition: linear 200ms color;

    @media screen and (max-width: 480px) {
        color: #FFF;   
    }
}

.header-link:not(:last-child) {
  margin-right: 33px;
  @media screen and (max-width: 480px) {
    margin-right: unset;   
  }
}

.header-link:hover {
    color: rgba(245, 246, 255, 0.50);
}

.header-link:active {
  color: #A1C7FF;
}

.header-button {
    color: #FFF;
    font-family: 'Manrope';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4; /* 22.4px */
    letter-spacing: -0.32px;
    padding: 13px 43px;
    border-radius: 50px;
    border: 1px solid #A1C7FF;
    background: none;
    cursor: pointer;
    transition: background 0.3s ease;
    @media screen and (max-width: 480px) {
        display: none;
    }
}

.header-button:hover {
  background: rgba(255, 255, 255, 0.14);
}

.header-button:active {
  background: #FFF;
  color: #292929;
}

.header-email {
  display: flex;
  padding: 16px 16px;
  justify-content: center;
  align-items: flex-end;
  border-radius: 50px;
  background: #FFF;
  border: none;
  cursor: pointer;
  transition: all 400ms ease;
}

.header-email:hover {
  background: rgba(255, 255, 255, 0.14);
}

.header-email:hover path {
  fill: #FFF;
}

.header-email:active path {
  fill: #A1C7FF;
}

.header-buttons {
  display: flex;
  gap: 9px;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(6px, 1vw, 12px);
  justify-content: center;
}

// !BURGER

// .burger-close {
//     display: none;
//     @media screen and (max-width: 480px) {
//         display: block;
//         position: absolute;
//         right: 30px;  
//         top: 20px;   
//     }
// }

// .burger {
//     display: none;
//     @media screen and (max-width: 480px) {
//         display: block;
//         padding: 11px 16px;
//         border-radius: 22px;
//         background: #F3EF0A;   
//     }
// }

body.menu-open {
    overflow: hidden;
  }

.burger {
    display: none;
  }
  
  .burger-close {
    display: none;
  }

  .burger-bg {
    display: none;
  }

  .header-mobile-inner {
    display: none;
  }

  @media screen and (max-width: 480px) {
    .header-inner {
      position: relative;
      justify-content: space-between;
    }

    .header-mobile-inner {
      display: block;
      margin-top: 120px;
    }

    .header-mobile-text {
      color: #666;
      font-family: 'Roboto';
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5; /* 150% */
      letter-spacing: -0.24px;
      margin-top: 32px;
    }

    .burger-bg {
      display: block;
      position: absolute;
      top: 0;
      left: 0;  
    }
  
    .burger {
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      width: 40px;
      height: 40px;
      padding: 8px;
      cursor: pointer;
    }
  
    .burger-close {
      display: flex;
      position: absolute;
      top: 26px;
      right: 24px;
      background: none;
      width: 38px;
      height: 38px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 1002;
    }
  
    .header-menu {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      justify-content: unset;
      position: fixed;
      inset: 0;
      height: 100%;
      background: #191919;
      z-index: 1000;
      padding-top: 160px;
      padding-left: 35px;
      transition: all 0.3s ease;
    }
  
    .header-menu.open {
      display: flex;
    }
  
    .header-menu.open + .burger-close {
      display: flex;
    }
  
    .header-link {
      color: #FFF;
      font-family: "Plus Jakarta Sans";
      font-size: 27px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
      margin: 0 0 45px 0;
      text-decoration: none;
    }
  
    .header-buttons {
      display: none;
    }
  }


  
  .header-logo {
    flex-shrink: 0; // не стискати логотип
    min-width: 100px; // мінімальна ширина, щоб не зникав
  }
  
  .header-logo img {
    height: calc(20px + 0.8vw);
    max-height: 48px;
    aspect-ratio: 7 / 1; /* співвідношення для стабільного масштабу */
    object-fit: contain;
  }
  
  .header-link {
    white-space: nowrap;
    font-size: clamp(12px, 1.2vw, 16px);
  }
  
  .header-button {
    
    font-size: clamp(14px, 1.4vw, 16px);
    // padding: clamp(10px, 1.2vw, 14px) clamp(20px, 3vw, 44px);
  }
  
  .header-email {
    padding: clamp(10px, 1.2vw, 16px);
  }