html {
    scroll-behavior: smooth;
}

body {
    background-color: #EEF4FD;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

body.noscroll {
    overflow: hidden;
}

video {
    filter: grayscale(100%);
}
